.header {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.5fr;
  justify-content: space-between;
  background-color: white;
  .header__column {
    .header__logo {
      display: block;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 35px;
    }
    i {
      color: red;
      margin-left: 50px;
      margin-right: 50px;
    }
    img {
      width: 200px;
      height: 80px;
      margin-left: 50px;
      margin-right: 15px;
    }
    .header__menu {
      display: flex;
      justify-content: flex-start;
      font-size: 20px;
      margin-top: 19px;
      margin-left: 15px;
    }
    .header__menu__user {
      display: flex;
      justify-content: flex-end;
      font-size: 15px;
      margin-top: 22px;
      margin-left: 10px;
      margin-right: 10px;
    }
    li {
      font-weight: 700;
      a:after {
        content: " ";
        display: block;
        height: 2px;
        width: 0;
        background-color: white;
        transition: width 0.5s;
      }
      a:hover {
        color: royalblue;
      }
      a:hover:after {
        width: 100%;
        background-color: royalblue;
      }
      a.active {
        color: royalblue;
      }
      a.active:after {
        width: 100%;
        background-color: royalblue;
      }
      padding-right: 15px;
    }
    form {
      display: block;
      text-align: end;
      margin-top: 8px;
    }
    input {
      margin-top: 5px;
      border: 1px solid black;
      padding: 5px;
      width: 50%;
      border-radius: 5px;
      font-size: 14px;
    }
    input:focus {
      border: 1.6px solid #1c62b9;
    }
  }
}
