.home-videos {
  margin-top: 15px;
  column-gap: 30px;
  display: grid;

  grid-template-columns: repeat(6, minmax(150px, 1fr));
  .videoBlock {
    justify-self: center;
    video {
      max-height: 350px;
      max-width: 100%;
      margin-bottom: 8px;
    }
    gap: 10px;
    margin: 15px 15px;
    grid-column: span 2;
    .videoInfo {
      .videoInfofo {
        position: relative;
        display: flex;
        flex-direction: column;
        bottom: 55px;
        right: 5px;
        margin-left: 70px;
        .videoBlock__title {
          font-size: 20px;
          margin-bottom: 5px;
        }
        .videoBlock__views,
        .videoBlock__name {
          margin-top: 3px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .vd_avatar {
    position: relative;
    max-width: 55px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.joinmodal,
.loginmodal {
  position: relative;
  background-color: white;
  left: 50%;
  margin-left: -200px;
  top: 10%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.75);
}
.join__modal__container,
.login__modal__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal__overlay {
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}
